body{
    font-family: Garamond;
    background-image: url(kister2.jpg.jpg);
}

footer, header{
    background-color: #3cb371;
    color: white;
    font-size: 130%;
    text-align: center;
    padding: 10px;
}

.lewymain {
    background-color:#f5699e;
    width: 55%;
    height: 450px;
    float: left;
    
}

.prawymain {
    background-color: #f572df;
    width: 45%;
    height: 450px;
    float: left;
}

img {
padding: 3px;
margin: 15px;
border: 2px dashed #3cb371;
}
text {
    text-decoration-color: #ff0000
}

